# Normalize line endings for all files that Git considers text files.
* text=auto eol=lf

# Force binary files to remain unmodified
*.png binary
*.ogg binary
*.wav binary

# Only include the addons folder when downloading from the Asset Library.
/**        export-ignore
/addons    !export-ignore
/addons/** !export-ignore
